.profile_pic{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.info_list{
  margin: 30px auto 50px;
  list-style-type: none;
  padding-left: 0;
  li {
    margin-top: .5rem;
  }
}
a{
  color: inherit;
}

h4, .h4 {
  font-size: 1.25rem !important;
}

// @media print {
//   nav, header, footer {
//     display: none;
//   }
//
//   .about-row {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     width: 100%;
//   }
//
//   .about-section {
//     flex: 1;
//
//     & + & {
//       padding-left: 20px;
//     }
//   }
//
//   .btn.btn-tab{
//     display: none;
//   }
//
//   .profile_pic{
//     display: none;
//   }
//
//   .section-divider-title:before {
//     top: 120% !important;
//   }
//
//   .dash_container {
//     width: 68%;
//   }
//
//   a[href]:after {
//     content: none !important;
//   }
// }
