@import 'variables';

p {
  max-width: 800px;

  img {
    width: 100%;
  }
}

img {
  max-width: 100%;
}


.taglist {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

// responsive youtube video iframe
.youtubeWrapper {
  width: 100%;

  iframe {
    aspect-ratio: 2 / 1;
  }
}