@import 'react-gif-player/src/GifPlayer.scss';

.gif_player {
    display: flex;

    .play_button {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}