.grid {
  display: grid;
  margin: 2rem 0;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, auto) !important;
      
  }

  @media screen and (max-width: 360px) {
    grid-template-columns: repeat(1) !important;
  }
}
