@import 'normalize';
@import 'variables';
@import 'custom-variables';
@import '~bootstrap/scss/bootstrap';

h1,h2,h3,h4,h5,h6,p,button,input,li,span,address,div {
  font-family: $font-sans;
}

body{
  font-family: $font-sans;
  font-size: $font-size-base;
}

html, body, #root{
  position: relative;
  height: 100%;
  display: block;
}

.wrapper{
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .content {
    padding-bottom: 10rem;

    @media screen and (max-width: 767px) {
      margin-top:1.5rem;
    }
    @media screen and (max-width: 300px) {
      margin-top:1.5rem;
    }
  }
}

  .container {
    padding: 0;
    width: 100%;
    
    @media (max-width: 767px) {
      padding: 0 1rem;
    }

    &.content {
      h2 {
        margin-top: 2.5rem;
      }
    }
  }

  a {
    text-decoration: none !important;
        span {
          text-align: center;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 0px;
            height: 2px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            left: 0;
            background-color: $color-black;
          }
        }
    &:hover, &.active {
        cursor: pointer;
        span {
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
