@import 'variables';

.dash_container {
  position: relative;
  display: block;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  .pie-wrap {
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 3px;
  }
  .label-wrap{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: $font-bold;
    font-size: $small-font-size;
    &.sm{
      font-size: 0.7rem;
    }
    &.md{
      font-size: 1.1rem;
    }
  }
}
