@import 'variables';

.pills{
  display: flex;
  flex-wrap: wrap;

  @media screen {
    .capsule {
      background-color: $color-blue-alt;
      color: $color-white;
      border-radius: 100px;
    }
  }
  margin: 20px 0;
  .capsule {
    margin: 5px 5px 5px 0px;
    padding: 5px 10px;
  }
}

