@import 'variables';

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:200% 50%}
}

@mixin gradient-animate {
    background: linear-gradient(to left, $color-blue-light, $color-purple, $color-pink, $color-purple,$color-blue-light);
    background-size: 400% 400%;
    animation: AnimationName 60s ease infinite;
    width: 100%;
}

@mixin clearfix {
    clear: both;
    &::after {
      content: '';
      display: table;
    }
  }


@mixin custom-link {
    text-decoration: none !important;
        span {
        text-align: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            width: 0px;
            height: 2px;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            left: 0;
            background-color: $color-black;
        }
        }
    &:hover, &.active {
        cursor: pointer;
        span {
        &:after {
            width: 100%;
            opacity: 1;
        }
        }
    }
}